body {
  background-color: #f2f2f2 !important;

  a {
    text-decoration: none;
    color: black, !important;
  }

  a:hover {
    background-color: transparent;
    color: black;
    text-decoration: underline;
  }

  a:visited {
    color: black, !important;
    text-decoration: none;
  }

  .bold {
    font-weight: bold;
  }

  .form-button {
    margin-top: 24px;
  }

  .submit-button {
    margin-top: 1em;
  }

  select {
    width: 183px;
    height: 30px;
  }
}