@import "bootstrap";

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: transparent;
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
}

.bold {
  font-weight: bold;
}

.form-button {
  margin-top: 1em;
}

select {
  width: 183px;
  height: 30px;
}
